#full {
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  margin: 10px;
  float: right;
  position: absolute;
  border-radius: 20%;
  right: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 5;
}
#fullwiev {
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: inherit;
  outline: 0;
  text-decoration: none;
}
/* #fullwiev:hover { color: #1e90ff;} */
/* #fullwiev:hover { color: black;} */

/* .fa-expand{font-size: 20px;} */
.fa-expand {
  font-size: 30px!important;
}
/*esconder el boton en pantalla completa */

#contenedor:requestFullscreen >  #full #fullwiev {display: none;}
#contenedor:-moz-full-screen > #full #fullwiev {display: none;} /* Firefox */
#contenedor:-webkit-full-screen > #full #fullwiev {display: none;} /* Chrome, Safari & Opera */
#contenedor:-msRequestFullscreen > #full #fullwiev {display: none;} /* IE/Edge */


/*----|| popper.js tooltip ||-----*/
#tooltip {
  color: #0b0a10;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  pointer-events: none;
  z-index: 1.5;
  background: rgb(255, 255, 255);
  background: #ffc522;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 9px 31px -1px rgba(0,0,0,0.75);
}
.fa-info-circle {
  background-color: black;
  color: #ffc522;
  padding: 6px 7px;
  font-size: 20px;
  border-radius: 6px;
}
#tooltip_message{
  width: 130px;
  text-align: center;
}
#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}
#arrow, #arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}
#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
  background: #ffc522;
}
#contenedor:-webkit-full-screen > #full #tooltip {
  display: none;
}
