#portrait img {
  width: 250px;
  height: auto;
  animation-name: portrait_image_rotation;
  animation-duration: 1.0s;
  transform: rotate(90deg);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@media (orientation: portrait){
  #portrait {
    display: flex;
  }
  #landscape {
    display: none;
  }
}

@media (orientation: landscape){
  #portrait {
    display: none;
  }
  #landscape {
    display: inherit;
  }
}
