/*   
Name: julif.github.io
Author: Julif
*/
:root {
  --main-bg-color:#0b0a10;
}
body{
  font-family: "proxima-nova",sans-serif;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0px auto;
    background-color: #0b0a10;
   
  }
p{ color:white; }
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.preloader {
  margin-left: 15000px;
  position: fixed;
}
section {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100%;
  /* width: 100vw; */
  position: absolute;
  width: 100%;
  overflow: hidden;
}
/* ----------------------- splash ----------------------- */
#splash img {
  height: 40%;
  width: auto;
}
/* ----------------------- splash-art ----------------------- */
#splash_art {
background-image: url(img/splash-art-backgorund.png);
background-size: cover;
background-position: center;
justify-content: center;
align-items: center;

 /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */

}