/*   
Name: julif.github.io
Author: Julif
*/
:root {
  --main-bg-color:#0b0a10;
}
body{
  font-family: "proxima-nova",sans-serif;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0px auto;
    background-color: #0b0a10;
   
  }
p{ color:white; }

#version{ position: absolute;
  position: fixed;
  z-index: 1000000;
  right: 20px;
  color: #bbbbbb;
  bottom: 1px;}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
 .preloader {
  margin-left: 15000px;
  position: fixed;
} 
/* .preloader img{
  width: 150px!important;
}  */
section {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100%;
  /* width: 100vw; */
  position: absolute;
  width: 100%;
  overflow: hidden;
}
/* ----------------------- splash ----------------------- */
#splash img {
  height: 40%;
  width: auto;
}
.preloader img{
  width: 150px!important;
} 
/* ----------------------- splash-art ----------------------- */
#splash_art {
/* background-image: url(img/splash-art-backgorund.png); */
background-image: url(img/fondo_figurageometrica1.png);

background-size: cover;
background-position: center;
justify-content: center;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
 /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}
#preloader_container{
  /* background-color: red; */
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 50px;
}
#preloader_bar_background{
  /* background-color: black;
  height: 5px;
  width: 300px;
  overflow: hidden; */
  background-color: #00000078;
    height: 17px;
    width: 300px;
    overflow: hidden;
    border-radius: 17px;
    overflow: hidden;
}
#preloader_bar{
  background-color: #f7b12a;
  background-color: white;
  height: 150px;
  width: 0%; 

  -webkit-transition : width 1s ease;
   -moz-transition : width 1s ease;
     -o-transition : width 1s ease;
        transition : width 1s ease;
}
@media only screen and (max-width: 800px) {
  #splash_art img{ width: 35%!important; }

  #splash_art {
    background-size: auto;
    background-position: inherit;
    background-blend-mode: exclusion;
}

  
}

/* ----------------------- main menu ----------------------- */
#main_menu{
 color: black;
 background-color: #dcdcdc;
}
#main_menu button{
  height: 40px;
  width: 100%;
  border: none;
  background-color: #7295d0;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
