/* @font-face {
    font-family: "Kiddo Handwriting";
    src: url(KiddoHandwriting.ttf) format("truetype");
  } */
  @font-face {
    font-family: "julif Handwriting";
    src: url(Julif_handwriten.ttf) format("truetype");
  }
  :root {
    --main-bg-color: #191525;
    --main-bg-color: #0b0a10;
  }

  body{ 
    background-color: black; 
    margin: 0px auto;
 
      /* font-family: "Kiddo Handwriting"; */
    font-family:"julif Handwriting";
    } 




    #splash {
      /* background-color: #28334a; */
      background-color: black!important;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      /* z-index: 4; */
      height: 100vh;
      margin: auto;
  }


  #splash img {
    height: 40%;
    width: auto;
}
preloader {
  margin-left: 15000px;
  position: fixed;
  /* font-family: Franklin Gothic Demi; */
}
  container{
    height: 100vh;
    width: 100%;
    /* background-color: black;
    background-color: #02021a; */
    background-color:  var(--main-bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  aspect_ratio{    
    background-color: black; 
    width: 100%;/* height: 0; */
    /* padding-top: 56.25%;    padding-top: 47.25%; */

    /* padding-top: 56.25%; */padding-top: 56.25%; /* 16:9 Aspect Ratio */

    width: 100vw;
    /* height: 56.25vw; */
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    position: relative;
  }
  #full-container{
    width: 100%;
    background-color:  var(--main-bg-color);
/* height: 100%; */
height: 100vh;
display: block;
position: absolute;
top: 0;
  }
  #fullwiev { background-color:  var(--main-bg-color)!important;}
  .fa-expand {font-size: 30px!important;}
  #parte-superior{

    width: 100%;
    height: 60%;
    position: relative;
    
    background-position: center;
background-repeat: no-repeat;
background-size: cover;

  }
  #parte-inferior{
    background-color: #02021a;
    background-color:  var(--main-bg-color);
    width: 100%;
    height: 40%;
    /* display: flex;
justify-content: center;
align-items: center; */

color: #d2d0dc;
/* font-family: "Kiddo Handwriting"; */
/* font-family: cursive; */
/* font-size: x-large; */
position: relative;



/* letter-spacing: 2.5px; */
letter-spacing: 2.0px;
font-kerning: none;
/* font-weight: 600; */




overflow: hidden;
  }


#fondo{ 
  
  background-color:  var(--main-bg-color);

  /* background-image: url(img/fondo.png); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;


position: absolute;
background-position: bottom;
bottom: 0;
}
#fondo_img{
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
/* background-position: bottom; */

}
#barra-superior{
    background-color:  #02021a;
    background-color:  var(--main-bg-color);
    width: 100%;
    height: 20%;


    z-index: 0;
    position: absolute;
   
  }
  #personaje-container{
    /* background-color: #6d6d8ab0; */
width: 100%;
height: 100%;
position: absolute;
bottom: 0;
display: flex;
justify-content: center;   margin-top: 2px;



  }
  #personajes{ 
    display: flex; 
    justify-content: center; 
    align-items: center;


    /* justify-content: space-around; */
min-width: 70%;


    /* background-color: #6d6d8ab0;
width: 100%;
height: 100%; */
    }
    .personaje {
/* background-color: #0000ff1f; */
/* margin: 25px; */
margin: 2%;
animation: slidein 0.5s forwards;
width: var(--h);
/* width: 50px;
height: 200px; */


height: 100%;
/* width: auto; */

display: flex;
justify-content: center;




}
#titulo{
/* background-color: #ff000069; */
width: 100%;
height: 22%;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5vw;
/* transition: all 0.5s ease 0s; */
transition: 0.5s;
-webkit-transition: 0.5s;
font-weight: 600;
letter-spacing: 2.2px;
}
#texto{
/* background-color: #8990c769; */
width: 100%;
min-height: 40%;
display: flex;
justify-content: center;
align-items: center;
/* font-size: 1.5vw; */
font-size: 2.2vw;
max-width: 90%;
/* background-color: red; */
text-align: center;
margin: 0px auto;
}
#texto p{margin: 0px;}





#button{    position: absolute;
    bottom: 0px;
    right: 0;
    /* font-family: "Kiddo Handwriting"; */
    font-family:"julif Handwriting";
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px;
    margin: 1%;
    font-size: 1.5vw;
    letter-spacing: 2.5px;
    font-kerning: none;
    font-weight: 600;
    cursor: pointer;
    /* transition: all 0.5s ease 0s; */
}
#button:focus{ outline: none;}
#button:active{ outline: none; background-color: white!important;
  color: black!important;}
@media only screen and (max-width: 800px) {
    #titulo{font-size: 3.8vw;    height: 35%;}
    #texto{ font-size: 3.0vw; min-height: 20%;} 
    #button{ font-size: 2.5vw;}
}
#portrait { 
  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    /* width: 150px; */
    height: 95vh;


   }

@media (orientation: portrait) {
  /* #full-container{ height: 100%; }
  #button{ position: fixed!important; font-size: 3vw; }
  #titulo {font-size: 5vw;  }
  #texto {font-size: 4vw; } */

  #landscape{ display: none;}
  #portrait{ display: flex;}
  html, body {
    height: 100%;
   }

}
@media (orientation:landscape) {

  #landscape{ display: inherit;}
  #portrait{ display: none!important;}

}

/* #personaje{animation-delay: 0.50s;} */





#texto p{animation-delay: 0.70s;}





.personaje img{animation-delay: 0.30s;}
@keyframes slidein {
from {
width: 0px;
transform: scale(0);
opacity: 0;
}
to {
/* width: 150px; This will change for each element */
/* width: fit-content; */
/* width: 100%; */
width: var(--h);            /*This will change for each element */
transform: scale(1);
opacity: 1;
}
}







#tooltip {
 
  color: #0b0a10;

  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;



    font-weight: bold;
    font-size: 14px;
    text-align: left;
    pointer-events: none;
 
    z-index: 1;
    background: rgb(255, 255, 255);
     background: #ffc522;
    padding: 5px 10px;
    border-radius: 4px;


    display: flex;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
#tooltip span{ 
  width: 130px; 
  text-align: center;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
 background: #ffc522;
  
}


#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#contenedor:-webkit-full-screen >  #landscape #full #tooltip {
    display: none;
}